div>div { 
	height: 95px;
	width: 25%;
	float: left;
}
.mayor {
	width: 800px;
	border: purple 3px dashed;
	margin-top: 20px;

} 
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.m1 {
	background-color: red;
}
.menor2 {
	background-color: green;
}
.menor3 {
	background-color: yellow;
}